@import './base.css';
/* GENERIC STYLES*/
button{
  background-color: var(--generic-btn);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  width: 15%;
  cursor: pointer;
  font-size: medium;
}

button:hover{
  background-color: var(--box-bg-light);
}

.cancel-button{
  background-color: rgb(184, 13, 13);

}

.submit-button{
  background-color: var(--submit-btn);
  width: 50%;
  margin: 5px auto;
}
h2{
  color: var(--vt-c-black);
}

p{
  color: var(--vt-c-black);
}
label{
  font-size: 1.3em;

}
.confirmation_message{
  margin: 10px auto;
  font-size: 1.3rem;
  color: green;
}

.error_message{
  margin: 10px auto;
  font-size: 1.3rem;
  color: rgb(196, 3, 3);
}

.divider-50{
  height: 50px;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX NAVBAR XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.navbar{
  background-color: var(--header-bg);
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.nav{
 width: 100%;
 align-items: center;
 padding: 20px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 
}

.notification-icon-container{
  /* border: 1px blue solid; */
  display: block;
  align-items: center;
  width: fit-content;
  padding: 40px 5px;
}
.notification-icon{
  width: 50px;
  height: 50px;
}

.menu-icon-container{
  /* border: 1px blue solid; */
  display: none;
  align-items: center;
  width: fit-content;
  padding: 40px 5px;
}
.menu-icon{
  width: 50px;
  height: 50px;
  transition: transform 1s ease;
}
.rotated-icon{
  transform: rotate(180deg);
  
}
.desktop-header-link{
  padding: 10px;
  margin: 10px 5px;
  background-color: var(--box-bg-light);
  color: var(--vt-c-white-mute);
  text-decoration: none;
  font-size: large;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


.desktop-header-link:hover{
  background-color: var(--box-bg-dark);
  box-shadow: var(--light-shadow);
}


@media only screen and (max-width: 1350px){

   
  .menu-icon-container{
    display: block;
  }

  img{
    margin: auto;
    cursor: pointer;
  }

  .nav{
    background-color: var(--header-bg);
    flex-direction: column;
    position: absolute;
    margin: 150px auto;
    display: none;
  }

  .open-menu{
    display: flex;
    flex-direction: column;

  }
  .desktop-header-link{
    width: 100%;
    text-align: center;
  }
}



/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Home PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.map-container{
  width: 70%;
  height: 790px;
  border: 1px grey solid;
  border-radius: 10px;
  margin: 20% auto;
  margin-bottom: 30px;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--medium-shadow);
  background-color: #f1fbff;
}


#mapbox{
  width: 90%;
  min-height: 500px;
  max-height: 600px;
  margin: auto;
}
.mapboxgl-popup {
  z-index: 1000;
  border: 1px red solid;
  background-color: whitesmoke;
  color: black;
    max-width: 400px;
    font:
        12px/20px 'Helvetica Neue',
        Arial,
        Helvetica,
        sans-serif;
}
.mapboxgl-popup span{
  font-weight: bold;
}
.home-page-container{
  /* border: 1px red solid; */
  width: 90%;
  height: auto;
  margin: 10px auto;
  padding: 10px;
  /* box-shadow: var(--medium-shadow); */
}

.announcements-container{
  width: 100%;
  padding: 15px;
  color: black;
  background-color: var(--text-box);
  border-radius: 10px;
  margin: 10px auto;

}

.announcement{
  margin: 10px auto;
}

.instructions-container{
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  height: auto;
  box-shadow: var(--light-shadow);
}

.instruction-card{
  background-color: #d8e5ed;
  margin: 5px auto;
  padding: 10px;
}

.instruction-span{
  font-weight: 600;
}

.instruction-item{
  display: inline;
}

@media only screen and (max-width: 1500px){
  .map-container{
    width: 95%;
  }
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX New Appointment PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.appointments-container{
  margin: 10% auto;
  border: 1px rgb(222, 222, 222) solid;
  border-radius: 10px;
  box-shadow: var(--light-shadow);
  width: 70%;
  text-align: center;
  padding: 20px;

}

.appointments-filter{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.filter{
  /* border: 1px slategray solid; */
  padding: 5px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  flex: 1;
}

.filter input{
  padding: 3px 10px;
  border-radius: 6px;
  border: none;
  width: 200px;
}

.filter-button{
  width: 100%;

}

.filter-button button{
  margin: 5px auto;
  display: block;
}
.appointments-card{
  width: 100%;
  border: 1px black solid;
  background-color: #f1fbff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0;
}
.appointments-card button{
  margin: 5px auto;
  width: 30%;
}
.appointments-card:hover{
  transition: .5s ease;
  box-shadow: var(--heavy-shadow);
}

.appointment-details{
  text-align: left;
  padding: 0px 10px;
}

@media only screen and (max-width: 1580px){
  .appointments-container{
    margin-top: 15%;
  }
}

@media only screen and (max-width: 880px){
  .appointments-container{
    margin-top: 30%;
    border: 1px red solid;
  }
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Privacy Policy PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.privacy-container{
  color: var(--vt-c-black);
  /* border: 1px rgb(24, 11, 11) solid; */
  padding: 30px;
  margin: 8% auto;
  width: 70%;
  border-radius: 10px;
}
@media only screen and (max-width: 1400px) {
  .privacy-container{
    width: 95%;
    margin-top: 15%;
  }
}
@media only screen and (max-width: 1000px) {
  .privacy-container{
    width: 95%;
    margin-top: 25%;
  }
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX My Appointment PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.my-appointments-container{
  width: 90%;
  height: auto;
  padding: 20px;
  margin: 10% auto;
  /* border: 1px green solid; */
  display: flex;
  flex-direction: column;

}

.my-appointments-card h2{
  margin: 10px auto;
}

.my-appointments-card{
  background-color: var(--columbia-blue-darker);
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.my-appointments-card button{
  width: 180px;
  margin: 0 auto;
}

.my-appointments-card ul{
  list-style: none;
  left: -90%;
}

.my-appointments-card span{
  font-size: 1.1rem;
  font-weight: 600;
}

#modal{
  position: fixed;
  background-color: aliceblue;
  border: 3px  #d8e5ed solid;
  width: 50%;
  height: auto;
  display: none;
  padding: 30px;
  border-radius: 15px;
  box-shadow: var(--heavy-shadow);
  margin: auto;
  /* margin-top: -15%;
  left: 25%; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  
}

#modal button{
  width: 50%;
  margin: 0 auto;
}


/*I added these span tags to the appointment card. I don't think it is necessary at the moment but later on, if we add more 
information to the cards, we might need to increase their visual separation to make it easier to read. Right now, there are no labels on
the card, which is also something that we might need to add later.*/
.clinic-name{

}

.appointments-date{

}

.appointments-time{

}
.appointments-address{

}

@media only screen and (max-width: 1300px){
  .my-appointments-container{
    width: 100%;
    padding: 5px;
  }
  .my-appointments-card{
    flex-direction: column;
    padding: 5px;
    text-align: left;
  }

  .my-appointments-card button{
    margin: 10px auto;
    width: 90%;
  }
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  Single Appointment PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.single-appointment-container{
  padding: 30px;
  width: 70%;
  height: auto;
  background-color: var(--vt-c-white-mute);
  margin: 15% auto;
}

.patient-information-form{
  border: 1px slategrey solid;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-items: left;
}

.patient-information-form input{
  padding: 10px;
  margin: 4px auto;
  width: 100%;
  border-radius: 30px;
  border: 1px white solid;
}

.patient-information-form input:hover{
  border: 1px black solid;
}

.countdown{
  border: 3px rgb(235, 101, 101) solid;
  border-radius: 50px;
  align-items: center;
  padding: 10px;
  width: 30%;
  margin: 10px auto;
}
#timer{
  text-align: center;
  font-size: 2em;
  margin: 5px auto;
}
/* xxxxxxxxxxxxxxxxxxx popup xxxxxxxxxxxxxxxxxx */
.popup-container{
  width:100%;
  height: 100vh;
  background: #3c5077;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--heavy-shadow);
}
.popup{
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid black;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  box-shadow: var(--heavy-shadow);
}
.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);

}
.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px
}
.popup p{
  font-size: 25px;
  font-weight: 300;
}
.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: var --submit-btn;
  color: var --vt-c-white-soft;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: var(--medium-shadow);
}




/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Registration PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.registration-container{
  width: 60%;
  margin: 15% auto;
}

.patient-information-form h1{
  text-align: center;
}

@media only screen and (max-width: 900px){
  .registration-container{
    width: 90%;
    margin-top: 25%;
  }
}
@media only screen and (max-width: 500px){
  .registration-container{
    width: 90%;
    margin-top: 30%;
  }
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Login PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.login-container{
  width: 60%;
  margin: 15% auto;
}
.patient-login-form{
  border: 1px slategrey solid;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-items: left;
}

.patient-login-form input{
  padding: 10px;
  margin: 4px auto;
  width: 100%;
  border-radius: 30px;
  border: 1px white solid;
}

.patient-login-form input:hover{
  border: 1px black solid;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Medical Journal PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.journal-container{
  width: 70%;
  border-radius: 10px;
  margin: 15% auto;
  padding: 30px;
  box-shadow: var(--light-shadow);
}

.journal-details{
  background-color: var(--vt-c-white-mute);
  padding: 20px;
  margin: auto;
}

@media only screen and (max-width: 500px){
  .journal-container{
    width: 95%;
    padding: 5px;
  }
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Notifications PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.notifications-container{
  width: 70%;
  margin: 15% auto;
  padding: 30px;
  background-color: var(--vt-c-white-mute);
  border-radius: 10px;
  box-shadow: var(--light-shadow);
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

.notification{
  border: 1px #ddd solid;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: #f1fbff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 30px;
}

.notification:hover{
  transform:  translateY(-5px);
  box-shadow: var(--heavy-shadow);

}

.notification-header{
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.notification-header .circle{
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;

}

.notification-header h2{
  font-size: 1.2rem;
  margin: 0;
  color: var(--vt-c-black);
}

.notification-body p{
  font-size: .95rem;
  line-height: 1.5;
  color: var(--vt-c-black);
  margin: 0;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX PROFILE PAGE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/


#single-patient-link{
    text-decoration: none;
}


/*Single patient page style*/
.single-patient-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    min-height: 400px;
    margin: 5% auto;
    margin-top: 15%;
    border: 3px var(--slate-gray) solid;
    background-color: var(--columbia-blue-darker);
    border-radius: 10px;
    box-shadow: var(--heavy-shadow);
    padding: 30px;

}

.single-patient-sidebar{
    position: sticky;
    top: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border: 1px var(--columbia-blue-darker) solid;
    border-radius: 10px;
    box-shadow: var(--light-shadow);
    width: 20%;
    max-height: 300px;
}

#single-patient-sidebar-menu{
    padding: 40px 0;
    padding-top: 5px;
    text-align: center;
}

#sidebar-links{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    background-color: var(--box-bg-light);
    margin: auto;
    border: 0.5px var(--slate-gray) solid;
    cursor: pointer;
    text-align: left;
}
#sidebar-links:hover{
    background-color: var(--pink-lavendar);
}
#single-patient-card {
    width: 70%;
    height: 100%;
    background-color: whitesmoke;
    border: none;
    border-radius: 15px;
    box-shadow: var(--light-shadow);
    overflow: hidden;
    padding: 20px;
    transition: transform 750ms;
    margin:  auto;
    margin-right: 5%;
    cursor: pointer;

}

#single-patient-detail {
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: capitalize;

}

#single-patient-card p {
    color: var(--slate-gray);
    font-size: 1em;
    margin-bottom: 8px;
    text-align: left;
    font-weight: bold;
}

#edit-profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#update-patient-form label{
    align-content: start;
}

#edit-profile input[type="text"], input[type="email"]{
    width: 100%;
}

#edit-profile h3{
    margin: 3px auto;
}

#edit-profile button{
    margin: 5px auto;
    width: 50%;
}

.subs-container{
  
  padding: 5px 10px;
  margin: 10px auto;
}
.subs-container h4{
  font-weight: bold;
  
}
.sub button{
  background-color: var(--submit-btn);
  width: 130px;
  margin: 0 auto;
  padding: 5px;
}

.sub{
  
  margin: 10px auto;
}

#edit-profile input{
  padding: 5px;
  border:1px  var(--vt-c-white-mute) solid;
  border-radius: 10px;
}

#edit-profile input:hover{
  border: 1px var(--vt-c-black) solid;
}

@media only screen and (max-width: 1600px) {
    .single-patient-container{
        width: 90%;
    }
}
@media only screen and (max-width: 1250px) {
    .single-patient-container{
        width: 90%;
    }
    .patient-container {
        width: 100%;
        margin: 5% 0;
        grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    }

    #patient-card{
        max-width: 100%;
        margin: 10px auto;
        padding: 20px 10px;
    }

    .single-patient-container{
        margin: 30% auto;
        flex-direction: column;
    }

    .single-patient-sidebar{
        width: 90%;
        position: relative;
        margin: 10px auto;
    }

    #single-patient-card{
        width: 90%;
        margin: 10px auto;
    }
    
}

@media only screen and (max-width: 650px) {
    .single-patient-container {
            margin: 40% auto;
            flex-direction: column;
            width: 95%;
        }
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  BookingConfirmation page  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.booking-confirmation-container{
  text-align: center;
  width: 90%;
  border-radius: 10px;
  margin: 35% auto;
  padding: 30px;
  box-shadow: var(--light-shadow);
}

.booking-confirmation-details{
  background-color: var(--vt-c-white-mute);
  padding: 20px;
  margin: auto;
}
.booking-confirmation-button{
  max-width: 150px;
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: var (--submit-btn);
  color: var (--vt-c-white-soft);
  outline: none;
  font-size: 18px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: var(--medium-shadow);
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  Clinic  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.clinic-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 100%;
  min-height: 400px;
  margin: 5% auto;
  margin-top: 15%;
  border: 3px var(--slate-gray) solid;
  background-color: var(--columbia-blue-darker);
  border-radius: 10px;
  box-shadow: var(--heavy-shadow);
  padding: 30px;

}

.clinic-sidebar{
  position: sticky;
  top: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border: 1px var(--columbia-blue-darker) solid;
  border-radius: 10px;
  box-shadow: var(--light-shadow);
  width: 20%;
  max-height: 300px;
  border: 3px var(--slate-gray) solid;
}

.clinic-sidebar-menu{
  padding: 40px 0;
  padding-top: 5px;
  text-align: center;
  border: 3px var(--slate-gray) solid;
}

.sidebar-links{
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  background-color: var(--box-bg-light);
  margin: auto;
  border: 0.5px var(--slate-gray) solid;
  cursor: pointer;
  text-align: left;
}
.sidebar-links:hover{
  background-color: var(--pink-lavendar);
}
.clinic-right-side{
  width: 70%;
  display: flex;
  text-align: center;
  flex-direction: column;
  /* border: 3px orange solid; */
  justify-content: center;
  margin: auto;
  margin-left: 5%;
}
.clinic-title{
  text-align: center;
  background-color: whitesmoke;
  
}
.clinic-contact-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  /* border: 3px red solid; */
}
#clinic-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border: none;
  overflow: hidden;
  padding: 20px;
  transition: transform 750ms;
  margin:  auto;
  margin-right: 5%;
  cursor: pointer;
}
.clinic-appointment_card{
  display: flex;
  flex-direction: row;
  width:  360px;
  height: 100%;
  background-color: whitesmoke;
  border: none;
  border-radius: 15px;
  box-shadow: var(--light-shadow);
  overflow: hidden;
  padding: 20px;
  transition: transform 750ms;
  margin: 10px auto;
  margin-right: 5%;
  cursor: pointer;
  text-align: left;
  /* border: 3px blueviolet  solid; */
}
@media only screen and (max-width: 1250px){
.clinic-right-side{
  width: 90%;
}
.clinic-container{
  margin: 40% auto;
}
}
@media only screen and (max-width: 550px){
.clinic-appointment_card{
  width: 100%;
  flex-direction: column;
}

}