@import './base.css';
/* GENERIC STYLES*/
button{
  background-color: var(--generic-btn);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  width: 15%;
  cursor: pointer;
  font-size: medium;
}

button:hover{
  background-color: var(--box-bg-light);
}

.cancel-button{
  background-color: rgb(184, 13, 13);

}

.submit-button{
  background-color: var(--submit-btn);
  width: 50%;
  margin: 5px auto;
}
h2{
  color: var(--vt-c-black);
}

p{
  color: var(--vt-c-black);
}
label{
  font-size: 1.3em;

}
.confirmation_message{
  margin: 10px auto;
  font-size: 1.3rem;
  color: green;
}

.error_message{
  margin: 10px auto;
  font-size: 1.3rem;
  color: rgb(196, 3, 3);
}

.divider-50{
  height: 50px;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX NAVBAR XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.navbar{
  background-color: var(--header-bg);
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}
.nav{
 width: 100%;
 align-items: center;
 padding: 20px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 
}

.notification-icon-container{
  /* border: 1px blue solid; */
  display: block;
  align-items: center;
  width: fit-content;
  padding: 40px 5px;
}
.notification-icon{
  width: 50px;
  height: 50px;
}

.menu-icon-container{
  /* border: 1px blue solid; */
  display: none;
  align-items: center;
  width: fit-content;
  padding: 40px 5px;
}
.menu-icon{
  width: 50px;
  height: 50px;
  transition: transform 1s ease;
}
.rotated-icon{
  transform: rotate(180deg);
  
}
.desktop-header-link{
  padding: 10px;
  margin: 10px 5px;
  background-color: var(--box-bg-light);
  color: var(--vt-c-white-mute);
  text-decoration: none;
  font-size: large;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


.desktop-header-link:hover{
  background-color: var(--box-bg-dark);
  box-shadow: var(--light-shadow);
}

/* header{
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  background-color: var(--header-bg);
} */

@media only screen and (max-width: 1200px){

  /* header{
    border: 3px rgb(4, 255, 0) solid;
    height: auto;
    flex-direction: column;
    justify-content: center;
  } */
   
  .menu-icon-container{
    display: block;
  }

  img{
    margin: auto;
    cursor: pointer;
  }

  .nav{
    background-color: var(--header-bg);
    flex-direction: column;
    position: absolute;
    margin: 150px auto;
    display: none;
  }

  .open-menu{
    display: flex;
    flex-direction: column;

  }
  .desktop-header-link{
    width: 100%;
    text-align: center;
  }
}



/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Home PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.map-container{
  width: 70%;
  height: 500px;
  border: 1px grey solid;
  border-radius: 10px;
  margin: 20% auto;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: var(--medium-shadow);
  background-color: #f1fbff;
}


#google-map{
  width: 90%;
  height: 500px;
  margin: auto;
}


.home-page-container{
  /* border: 1px red solid; */
  width: 90%;
  height: auto;
  margin: 10px auto;
  padding: 10px;
  /* box-shadow: var(--medium-shadow); */
}

.announcements-container{
  width: 100%;
  padding: 15px;
  color: black;
  background-color: var(--text-box);
  border-radius: 10px;
  margin: 10px auto;

}

.announcement{
  margin: 10px auto;
}

.instructions-container{
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  height: auto;
  box-shadow: var(--light-shadow);
}

.instruction-card{
  background-color: #d8e5ed;
  margin: 5px auto;
  padding: 10px;
}

.instruction-span{
  font-weight: 600;
}

.instruction-item{
  display: inline;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX New Appointment PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.appointments-container{
  margin: 10% auto;
  border: 1px rgb(222, 222, 222) solid;
  border-radius: 10px;
  box-shadow: var(--light-shadow);
  width: 70%;
  text-align: center;
  padding: 20px;

}

.appointments-filter{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.filter{
  /* border: 1px slategray solid; */
  padding: 5px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  flex: 1;
}

.filter input{
  padding: 3px 10px;
  border-radius: 6px;
  border: none;
  width: 200px;
}

.filter-button{
  width: 100%;

}

.filter-button button{
  margin: 5px auto;
  display: block;
}
.appointments-card{
  width: 100%;
  border: 1px black solid;
  background-color: #f1fbff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}

.appointments-card:hover{
  transition: .5s ease;
  box-shadow: var(--heavy-shadow);
}

@media only screen and (max-width: 1580px){
  .appointments-container{
    margin-top: 15%;
  }
}

@media only screen and (max-width: 880px){
  .appointments-container{
    margin-top: 30%;
    border: 1px red solid;
  }
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Privacy Policy PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.privacy-container{
  color: var(--vt-c-black);
  /* border: 1px rgb(24, 11, 11) solid; */
  padding: 30px;
  margin: 8% auto;
  width: 70%;
  border-radius: 10px;
}
@media only screen and (max-width: 1400px) {
  .privacy-container{
    width: 95%;
    margin-top: 15%;
  }
}
@media only screen and (max-width: 1000px) {
  .privacy-container{
    width: 95%;
    margin-top: 25%;
  }
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX My Appointment PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.my-appointments-container{
  width: 70%;
  height: auto;
  padding: 20px;
  margin: 10% auto;
  /* border: 1px green solid; */
  display: flex;
  flex-direction: column;

}

.my-appointments-card{
  background-color: var(--vt-c-white-mute);
  padding: 20px;
  border-radius: 10px;
  /* border: 1px blue solid; */
  margin: 10px auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#modal{
  position: fixed;
  background-color: aliceblue;
  border: 3px  #d8e5ed solid;
  width: 50%;
  height: auto;
  display: none;
  padding: 30px;
  border-radius: 15px;
  box-shadow: var(--heavy-shadow);
  margin: auto;
  /* margin-top: -15%;
  left: 25%; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  
}

#modal button{
  width: 50%;
  margin: 0 auto;
}


/*I added these span tags to the appointment card. I don't think it is necessary at the moment but later on, if we add more 
information to the cards, we might need to increase their visual separation to make it easier to read. Right now, there are no labels on
the card, which is also something that we might need to add later.*/
.clinic-name{

}

.appointments-date{

}

.appointments-time{

}
.appointments-address{

}

@media only screen and (max-width: 1300px){
  .my-appointments-card{
    flex-direction: column;
  }

  .my-appointments-card button{
    margin: 10px auto;
    width: 50%;
  }
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  Single Appointment PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.single-appointment-container{
  padding: 30px;
  width: 70%;
  height: auto;
  background-color: var(--vt-c-white-mute);
  margin: 15% auto;
}

.patient-information-form{
  border: 1px slategrey solid;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-items: left;
}

.patient-information-form input{
  padding: 10px;
  margin: 4px auto;
  width: 100%;
  border-radius: 30px;
  border: 1px white solid;
}

.patient-information-form input:hover{
  border: 1px black solid;
}

.countdown{
  border: 3px rgb(235, 101, 101) solid;
  border-radius: 50px;
  align-items: center;
  padding: 10px;
  width: 30%;
  margin: 10px auto;
}
#timer{
  text-align: center;
  font-size: 2em;
  margin: 5px auto;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Registration PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.registration-container{
  width: 60%;
  margin: 15% auto;
}

.patient-information-form h1{
  text-align: center;
}

@media only screen and (max-width: 900px){
  .registration-container{
    width: 90%;
    margin-top: 25%;
  }
}
@media only screen and (max-width: 500px){
  .registration-container{
    width: 90%;
    margin-top: 30%;
  }
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Login PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.login-container{
  width: 60%;
  margin: 15% auto;
}
.patient-login-form{
  border: 1px slategrey solid;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-items: left;
}

.patient-login-form input{
  padding: 10px;
  margin: 4px auto;
  width: 100%;
  border-radius: 30px;
  border: 1px white solid;
}

.patient-login-form input:hover{
  border: 1px black solid;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Medical Journal PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.journal-container{
  width: 70%;
  border-radius: 10px;
  margin: 15% auto;
  padding: 30px;
  box-shadow: var(--light-shadow);
}

.journal-details{
  background-color: var(--vt-c-white-mute);
  padding: 20px;
  margin: auto;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX Notifications PAGE  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.notifications-container{
  width: 70%;
  margin: 15% auto;
  padding: 30px;
  background-color: var(--vt-c-white-mute);
  border-radius: 10px;
  box-shadow: var(--light-shadow);
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

.notification{
  border: 1px #ddd solid;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: #f1fbff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 30px;
}

.notification:hover{
  transform:  translateY(-5px);
  box-shadow: var(--heavy-shadow);

}

.notification-header{
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.notification-header .circle{
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;

}

.notification-header h2{
  font-size: 1.2rem;
  margin: 0;
  color: var(--vt-c-black);
}

.notification-body p{
  font-size: .95rem;
  line-height: 1.5;
  color: var(--vt-c-black);
  margin: 0;
}